
<div mat-dialog-title>Employee Form</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content>
   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Employee Name</mat-label>
        <input matInput placeholder="Employee_Name" formControlName="Employee_Name" required="true">
    </mat-form-field>
   </div>
   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="Email" required="true">
    </mat-form-field>
   </div>
   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Mobile No</mat-label>
        <input matInput type="cell" placeholder="phone_no" formControlName="Phone_no" required="true">
    </mat-form-field>
   </div>
</div>
<div mat-dialog-actions class="btn">
    <button mat-raised-button type="button" [mat-dialog-close]="false" class="cbtn">Cancel</button>
    <button mat-raised-button class="but" type="submit" class="sbtn">{{data ? 'update':'Save'}}</button>
</div>
</form>
