.example-spacer {
    flex: 1 1 auto;
}
  
.nav-main{
    background-color: rgb(16, 152, 237);
    span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
}

.form-component{
    padding-top: 20px;
    max-width: 1248px;
    margin: 0 auto;
    
    mat-form-field{
        width: 100%;
        
    }
}
.btn{
    border-radius: 10px;
    font-size: large;
}